
h1{
    text-shadow: -2px -2px 4px green;
    font-size: 800%;
    color: black;
    font-family: "Brush Script MT", cursive;
    text-align: center;
}
h2, h3
{  
    font-size:200%;color:red;
    color:black;
    font-family:verdana;
    text-align:center;

}

header{
    border-bottom: 1px solid red;
}


body{margin:0;}

section img{
    width: 100%;
}

a{
    font-size:2em;
    color: blue;
    text-align: center;
    text-decoration: none;
}


.anchorLarge{
    color: rgb(255, 0, 47);
    font-size: 2em;
    padding: 5%;
}
.base_color{
    font-size: 800%;
    color:rgb(0, 0, 0);
    font-family: "Brush Script MT", cursive;
}

.required {
    font-weight:bold;
    color:red;
}

nav 
{
    padding: 5px;
background-color: black;
}

nav ul{
    text-align: center;
    font-size: 1.2em
}

nav ul li{
    list-style-type: none;
    background-color: #B2B2B2B2;
    display: inline;
    padding: 15px;
    margin: 5px;
    border:2px solid red;
    border-radius: 10px;
   
}

nav ul li a {
    
    color: white;
    text-decoration: none
}

nav ul li:hover{
    background-color: rgb(186, 27, 45)
}

input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

label {
    float:left;
    width: 112px;
    padding-right: 10px;
    text-align: right;
}

#button, #reset {
    margin-top: .5em;
    width: 8em;
    background-color: orange;
    border: 2px solid black
}

input[type="checkbox"] {width: 15px;}
#button {
    margin-left: 138px;}
#reset {
    margin-left:82px}
input[type="radio"] {width:10px;}
    
fieldset{
    background-color: white;
}

.maps-aside {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap; 
  }
  
.maps-aside form {
    flex: 1;
    max-width: 500px;
    min-width: 300px;
  }
  
.maps-aside aside {
    flex: 1;
    max-width: 600px;
    min-width: 300px;
  }
  
.footer-info {
    text-align: center;
    font-size: 0.9em;
    color: black;
  }

